<script>
	//import Tag from '$lib/components/Tag.svelte';
	import { base } from '$app/paths';
	import { location } from '$lib/stores/stores.js';
	//import ForceGraph from '$lib/components/ForceGraph.svelte';
	//import SunBurst from '$lib/components/SunBurst.svelte';

	export let data;

	$: location.set(data.crumbs);
</script>

<main>
	<h1>{data.title}</h1>
	<h2>Pages in {data.title}</h2>
	{#each data.tagPages as page}
	<p>
		<span class="internal-link"><a href={`${base}/${page.slug}`}>{page.title}</a></span>
	</p>

{/each}
<!--h2>{data.title} visualised</h2>
{#if data.crumbs.m1}
<p>The visualisation below shows the location of the subtopic '{data.title}' in relation to the other subtopics in the main topic of '{data.crumbs.t1}'. The circles in the outer ring represent the pages related to the subtopics, and their size is proportional to the length of each page. Click a circle to navigate to the page it represents.</p>
{/if}
{#if !data.crumbs.m1}
<p>The visualisation below shows the structure of the '{data.title}' topic. The circles in the outer ring represent the pages related to the subtopics, and their size is proportional to the length of each page. Click a circle to navigate to the page it represents.</p>
{/if}
	<SunBurst
		filter={data.crumbs}
		maxLabelLevel={1}
		minLabelValue={data.crumbs.m1 ? 0 : 5000}
		dots={true}
	/>
	<SunBurst
		filter={data.crumbs}
		maxLabelLevel={1}
		minLabelValue={data.crumbs.m1 ? 0 : 5000}
		dots={false}
	/>
	<ForceGraph
		pagesData={data.tagPages}
		chargeStrength={data.tagPages.length > 20 ? -100 : -400}
		labelLevel={data.tagPages.length > 20 ? 2 : 3}
		nodeScaling={3}
		depth={3}
		root={false}
		secondaryModules={false}
		height={700}
	/>-->
</main>

<style>
	h1 {
		text-align: center;
	}
	h2 a {
		text-decoration: none;
	}
</style>
