html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #404040;
  font-family: sans-serif;
  font-family: 'Helvetica';
  font-size: 100%;
}

main {
  padding: 1rem;
  margin: auto;
  max-width: 50rem;
  margin-bottom: 60px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

p, li, aside, label {
    line-height: 1.5rem;
}

pre[class*="language-" ],
code[class*="language-"] {
  overflow-x: auto !important;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
}


img {
    width: 100%;
}

a {
  color: #004494;
}

span.internal-link {
  color: white;
  padding: 3px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: rgb(236, 236, 236);
}

span.internal-link:hover {
  background-color: rgb(226, 226, 226);
}

span.internal-link a {
  color: #004494;
  text-decoration: none;
  border-bottom: 1.5px solid #004494;
}

span.internal-link:before {content: '🔗 ';}

p:has(img) + p, p:has(svg) + p {
  font-style: italic;
  text-align: center;
  margin-top: -10px;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

blockquote p {
  font-size: 1.2rem;
  font-style: italic;
}

code {
  font-size: 1rem;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #e3e3e3;
  color: #DB6B66;
  border-radius: 2px;
}

aside, pre {
  background-color: #eeeeee;
  padding: 1.2rem;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

img.max-600 {
  max-width: 600px;
}

img.max-400 {
  max-width: 400px;
}

img.max-200 {
  max-width: 200px;
}

img.max-100 {
  max-width: 100px;
}

img.max-50 {
  max-width: 50px;
}

.coloured-span {
  padding: 3px;
  border-radius: 2px;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
thead {
  border-bottom: 1px solid grey;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}