<footer>
    <div class="footer-content">
       <p><a href="https://data.europa.eu/en/contact-us" target="_blank" rel="noreferrer">Contact the data.europa.eu team</a></p>
       <p>(c) 2023, eu | academy</p>
    </div>
</footer>

<style>
    footer {
        background-color: #F5F5F5;
        border-top: 1px solid #CECDCD;
    }
    .footer-content {
        max-width: 50rem;
        margin: auto;
        padding: 4rem;
    }
    a {
        color: #404040;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>